PORT=4200
SCRAPER_API_URL=http://localhost:4100/api/gold-prices
SCRAPER_API_KEY=gold_app_secret_ibrahym_2026
PRICE_SYNC_CRON=0 * * * *
BYPASS_AUTH=true
FIREBASE_PROJECT_ID=goldcalculate
# FIREBASE_SERVICE_ACCOUNT_PATH=../goldcalculate-firebase-adminsdk-fbsvc-178cde1243.json
